input {
    outline: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.searchbar {
    width: 250px;
    height: 60px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-left: 1rem;
    font-size: 18px;
    text-overflow: ellipsis;

    border: 0;
}

.searchbar::placeholder {
    font-size: 18px;
    color: #291507;
}

.submit {
    width: 20%;
    height: 62px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 0;
    cursor: pointer;
    padding-right: 10px;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breedList {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 24px;
    background-color: white;
    z-index: 4;
    position: absolute;
    width: inherit;
    list-style: none;
    margin-top: 80px;
    padding: 20px;
    cursor: pointer;
    width: 270px;

    scrollbar-width: none;
    -ms-overflow-style: none;

}

.breedList::-webkit-scrollbar {
    display: none;
}


@media (max-width: 1030px) {
    .form {
        width: 90%;
    }

    .searchbar {
        width: 200px;
        height: 50px;
        text-overflow: ellipsis;
    }

    .submit {
        height: 52px;
    }

    .breedList {
        max-height: 130px;
        margin-top: 65px;
        width: 210px;
    }
}

@media (max-width: 590px) {
    .searchbar {
        width: 100px;
        height: 50px;
        text-overflow: ellipsis;
    }

    .breedList {
        max-height: 130px;
        margin-top: 50px;
        width: 90px;
    }
}

@media (max-width: 375px) {
    .searchbar {
        width: 75px;
        height: 50px;
        text-overflow: ellipsis;
    }

    .row {
        margin-right: 10px;
        margin-left: 10px;
    }

    .submit {
        height: 52px;
        padding-right: 5px;
    }

    .breedList {
        max-height: inherit;
        margin-top: 50px;
    }
}